<!-- <a ui-sref="search">Back</a> -->
<section class="container">
  <h2>{{movie.Title}} ({{movie.Year}})</h2>
  <div class="row">
    <img ng-src="{{movie.Poster}}" class="col-md-3">
    <figure class="panel panel-default col-md-9">
      <p>Rating: {{movie.Rated}}</p>
      <p>Released: {{movie.Released}}</p>
      <p>Runtime: {{movie.Runtime}}</p>
      <p>Starring: {{movie.Actors}}</p>
      <p>Awards: {{movie.Awards}}</p>
      <p>Country: {{movie.Country}}</p>
      <p>Director: {{movie.Director}}</p>
      <p>Genre: {{movie.Genre}}</p>
      <p>Language: {{movie.Language}}</p>
      <p>Plot: {{movie.Plot}}</p>
      <p>Writer: {{movie.Writer}}</p>
    </figure>
  </div>
</section>
